<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <!--<services>
      <service name="WCFService.CurrencyConverter">
        <endpoint address="" behaviorConfiguration="WCFService.CurrencyConverterAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WCFService.CurrencyConverter" />
      </service>
    </services>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFService.CurrencyConverterAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
